.card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  perspective: 1000px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container {
  box-shadow: 3px 3px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-container_front,
.card-container_back {
  display: flex;
  flex-direction: column;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.card:hover .card-container {
  transform: rotateY(180deg);
}

.card-container_back {
  font-family: 'Indie Flower', cursive, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15%;
  right: 0;

  transform: rotateY(180deg);
}

.card-container_back_company {
 margin-bottom: 10%;
}

.robotImg {
  border-radius: 10px 10px 0px 0;
}

.card-container_back span {
  display: block;
  padding-bottom: 3%;
}

.card-container_front_text {
  padding: 20px;
  overflow-wrap: break-word;
}

.card-container_front_text span {
  font-family: 'Indie Flower', cursive, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 600px) {
  .card {
    font-size: 2em;
  }
}